@inherits InstanceTableBase

@if (FirewatchInstances == null)
{

}
else
{
    <table class="table table-borderless">
        <thead>
        <tr>
            <th scope="col">Unique Name</th>
            <th scope="col">Id</th>
            <th scope="col">Url</th>
            <th scope="col">Version</th>
            <th>Access</th>
            <th>State</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
            @foreach (var firewatchInstance in FirewatchInstances)
            {
                <InstanceTableRow FirewatchInstance="@firewatchInstance"/>
            }
        </tbody>
    </table>
}